body {

    font-family: Arial, sans-serif;
    background-image: url("Bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #333;
    margin: 0;
    padding: 20px;

    
}
.container 
{
    text-align: center;
}
h1 
{
    text-align: center;
    color: #ffffff;
    background: url("Icon.png");
    background-size: cover;
    margin-bottom: 10px;
    text-shadow: 0px 0px 20px rgb(0, 76, 255);
    font-size: 32px;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    user-select: none;
}

h2 
{
    text-align: center;
    color: #ffffff;
    background: url("Icon.png");
    background-size: cover;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px rgb(0, 76, 255);
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 5px; /* Rounded edges */
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    user-select: none;
}

h3 {
    margin-left: 5px;
    padding: 10px 20px;
    background: url("Icon.png");
    background-size: cover;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-shadow: 0px 0px 20px rgb(0, 76, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

h3 a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(0, 76, 255);
}

h3 a:hover {
    color: #89d6ff;
}
h3 a:focus {
    outline: none;
}
h3:hover {
    background-color: #89d6ff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

